
.game-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-img {
    width: 600px;
    height: auto;
}

.game-intro > div {
    position: relative;    
}

.game-intro > div > h1 {
    position: absolute;
    top: 0;
    left: 0;
    color: brown;
}

#start-button {
    margin: 10px 0 20px 0;
}



/*body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

/*#game-board {
    position: absolute;
}

#game-board > div {
    display: flex;
    position: relative;


}*/