* {
    margin: 0;
}

.game-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-img {
    width: 600px;
    height: auto;
}

.game-intro > div {
    position: relative;    
}
/*cannot applay flexbox wth absolute posit!!!*/
.game-intro > div > h1 {
    position: absolute;
    top: 220px;
    left: 35%;
    /*right: 0;
    width: 200px;
    margin-left: auto;
    margin-right: auto;*/
    color: brown;
}

#start-button {
    margin: 10px 0 20px 0;
}

#game-board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#game-board > div > p {
    position: absolute;
    top: 0;

    font-size: 28;
    color: rgb(20, 220, 53);    
}

#game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/gameover-bg.jpg);
    background-size: cover;
    height: 100vh;
    width: auto;
    color: black 
}

#game-over > img {
    width: 60vw;
    height: auto
}

.gameover-text {
    font-size: 35px;
    margin-bottom: 65px;
    color: rgb(93, 220, 20);
    
}

/*body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

/*#game-board {
    position: absolute;
}

#game-board > div {
    display: flex;
    position: relative;


}*/