* {
    margin: 0;
}

.game-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h1 {
    margin-top: 20vh;
    color: rgb(93, 220, 20)
}

/*.background-img {
    width: 600px;
    height: auto;
}*/

.game-intro {
    background-image: url(../assets/intro-image1.jpg);
    background-size: cover;
    height: 100vh;
    width: auto; 
}
/*cannot applay flexbox wth absolute posit!!!*/
/*.game-intro > div > h1 {
    position: absolute;
    top: 220px;
    left: 35%;
    /*right: 0;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    color: brown;
}*/

#start-button {
    background-color: rgb(139,0,0);
    border: 2px solid currentColor;
    padding: 6px 17px;
}

h2 {
    color: rgb(139,0,0);    
}

.mail {
    margin-bottom: 100px;
}

#game-board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#game-board > div > p {
    position: absolute;
    top: 0;

    font-size: 28;
    color: rgb(20, 220, 53);    
}

#game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/gameover-bg.jpg);
    background-size: cover;
    height: 100vh;
    width: auto;
    color: black 
}

.gameover-text {
    font-size: 35px;
    margin-bottom: 65px;
    color: rgb(93, 220, 20);    
}

#restart-button {
    background-color: rgb(93, 220, 20);
    border: 2px solid currentColor;
    padding: 6px 17px
}

/*body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

/*#game-board {
    position: absolute;
}

#game-board > div {
    display: flex;
    position: relative;


}*/